@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 220 23% 95%;
		--foreground: 209 13% 35%;

		--muted: 220 12% 90%;
		--muted-foreground: 220 12% 30%;

		--popover: 220 23% 92%;
		--popover-foreground: 209 13% 25%;

		--card: 220 23% 93%;
		--card-foreground: 209 13% 30%;

		--border: 220 13% 90%;
		--input: 220 13% 87%;

		--primary: 93 27% 38%;
		--primary-foreground: 0 0% 100%;

		--secondary: 93 17% 75%;
		--secondary-foreground: 93 17% 15%;

		--accent: 220 23% 80%;
		--accent-foreground: 220 23% 20%;

		--destructive: 8 86% 39%;
		--destructive-foreground: 8 86% 99%;

		--info: var(--accent);
		--info-foreground: var(--accent-foreground);

		--success: var(--primary);
		--success-foreground: var(--primary-foreground);

		--warning: var(--destructive);
		--warning-foreground: var(--destructive-foreground);

		--error: var(--destructive);
		--error-foreground: var(--destructive-foreground);

		--ring: 93 27% 38%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 10%;
		--foreground: 0 0% 73%;

		--muted: 0 12% 15%;
		--muted-foreground: 0 12% 65%;

		--popover: 0 0% 7%;
		--popover-foreground: 0 0% 83%;

		--card: 0 0% 8%;
		--card-foreground: 0 0% 78%;

		--border: 0 0% 15%;
		--input: 0 0% 18%;

		--primary: 105 24% 55%;
		--primary-foreground: 0 0% 0%;

		--secondary: 105 14% 25%;
		--secondary-foreground: 105 14% 85%;

		--accent: 0 0% 25%;
		--accent-foreground: 0 0% 85%;

		--destructive: 6 83% 45%;
		--destructive-foreground: 0 0% 100%;

		--info: var(--accent);
		--info-foreground: var(--accent-foreground);

		--success: var(--primary);
		--success-foreground: var(--primary-foreground);

		--warning: var(--destructive);
		--warning-foreground: var(--destructive-foreground);

		--error: var(--destructive);
		--error-foreground: var(--destructive-foreground);

		--ring: 105 24% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
	}
}

@layer base {
	/* DM Serif Display */
	@font-face {
		font-family: 'DM Serif Display', serif;
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'DM Serif Display', serif;
		font-weight: 400;
		font-style: italic;
	}

	/* Charis SIL */
	@font-face {
		font-family: 'Charis SIL', serif;
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'Charis SIL', serif;
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: 'Charis SIL', serif;
		font-weight: 400;
		font-style: italic;
	}

	@font-face {
		font-family: 'Charis SIL', serif;
		font-weight: 700;
		font-style: italic;
	}
}

@media (max-width: 640px) {
	.container {
		@apply px-4;
	}
}

.blend {
	@apply transition-all duration-200 ease-in-out;
}
