---
import { getCollection, type ContentCollectionKey } from 'astro:content';
import Card from './Card.astro';

type Props = {
	collection: ContentCollectionKey;
	path: string;
};

const { collection, path } = Astro.props;

const entries = await getCollection(collection, ({ slug }) => {
	return slug.startsWith(path);
});
---

<div class='grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-4'>
	{
		entries.map((entry) => {
			return <Card entry={entry} />;
		})
	}
</div>
