---
import Container from '@/components/Container.astro';
---

<header
	id='header'
	class='fixed top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60'
>
	<Container size='xl'>
		<div class='relative h-full w-full'></div>
	</Container>
</header>
