---
import Container from '@/components/Container.astro';
---

<header
	id='header'
	class='fixed top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60'
>
	<Container size='xl'>
		<div class='relative h-full w-full'></div>
	</Container>
</header>
<style is:inline>
	header {
		@apply border-b border-foreground/20;
		@apply transition-all duration-300 ease-in-out;
	}

	header:not(.scrolled) {
		@apply border-transparent bg-transparent;
	}

	header.scrolled {
		@apply bg-background/40;
		@apply saturate-100 backdrop-blur-sm;
	}
</style>
