---
import Container from '@/components/Container.astro';
---

<header
	id='header'
	class='container flex h-16 w-full flex-row items-center justify-between border-b'
>
	<div class='flex flex-row items-center space-x-0.5 p-2'>
		<p class='font-heading text-2xl'>abhi.</p>
		<svg
			height='32'
			role='separator'
			viewBox='0 0 32 32'
			width='32'
			><path
				d='M22 5L9 28'
				stroke-linecap='round'
				stroke-linejoin='round'
				class='stroke-slate-300'
			></path>
		</svg>
		<p class='font-heading text-2xl'>labs</p>
	</div>
	<div class='flex gap-2 p-2'>
		<button
			id='footer-theme-button'
			aria-label={`Toggle light and dark theme`}
			class='blend group size-10 items-center justify-center rounded-full p-2 hover:bg-foreground/10'
		>
			<svg class='block dark:hidden blend size-full fill-current group-hover:fill-primary'>
				<use href='/ui.svg#sun'></use>
			</svg>
			<svg class='hidden dark:block blend size-full fill-current group-hover:fill-primary'>
				<use href='/ui.svg#moon'></use>
			</svg>
		</button>
	</div>
</header>
