---
type Props = {
	title: string;
	description: string;
	path: string;
};

const { title, description, path } = Astro.props;
---

<a
	href={path}
	target='_blank'
	rel='noopener noreferrer'
	class='w-full not-prose border rounded-md group blend bg-background/80 hover:bg-foreground/10 space-x-2 flex items-center p-4'
>
	<div>
		<svg class='blend size-12 text-muted-foreground group-hover:text-primary pr-1'>
			<use href='/ui.svg#file'></use>
		</svg>
	</div>
	<div class='flex justify-center items-start flex-col'>
		<h2 class='font-bold text-xl'>{title}</h2>
		<p class='text-foreground/80 text-sm'>{description}</p>
	</div>
</a>
